{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>Mauritius Renal Registry</title>
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="/">Mauritius RenalDataRegistry</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Patients
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/renaldataregistry/patientregistration/list">List</a>
                            </li>
                            <li><a class="dropdown-item" href="/renaldataregistry/patient/register">Register</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {% if not user.is_authenticated %}
                            <li><a class="dropdown-item" href="/users/login/">Login</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="/users/logout/">Logout</a>
                            <a class="dropdown-item" href="/users/password_change/">Change Password</a>
                            <a class="dropdown-item" href="/admin/">Admin</a>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse mx-auto order-3 dual-collapse2">
                {% if user.is_authenticated %}
                ({{ user.email }})
                {% else %}
                Not logged in
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="banner" class="page-header">
            <h1>{% block title %}{{APPTITLE}}{% endblock %}</h1>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-dismissable {{ message.tags }} fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>