server {
    listen ${PORT};
    listen [::]:${PORT};

    location /static {
        autoindex on;
        alias /var/www/static;
    }

    location / {
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://${APP_HOST}:${APP_PORT};
  }
}
