{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="m-5">
        <h1>Patient dialysis assessments</h1>
    </div>
    <div class="row justify-content-center">
        {% if patient_in_dialysis %}
        <div class="col-10 d-flex justify-content-center">
            <a href="{% url 'renaldataregistry:PatientAssessmentView' patient.id %}" class="link-primary">New dialysis assessment</a>
        </div>
        {% endif %}
        <div class="col-10">
            {% if patientassessment_list %}
            <div class="table-responsive">
                <table class='table align-middle'>
                    <thead>
                        <tr>
                            <th>Assessment date</th>
                            <th colspan="2" style="width: 10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patientassessment in patientassessment_list %}
                        <tr>
                            <td>{{patientassessment.created_at}}</td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'renaldataregistry:PatientAssessmentDetailView' patientassessment.id %}">View</a>
                                        <a class="dropdown-item" href="{% url 'renaldataregistry:PatientAssessmentUpdateView' patientassessment.id %}">Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>There are no records.</p>
            {% if not patient_in_dialysis %}
            <p>Note: The patient should be in dialysis to register a new dialysis assessment.</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}