{% extends 'base.html' %}

{% block extrahead %}
{{ patient_form.media }}
{% load static %}
<script src="{% static 'js/form_tabs.js' %}"></script>
<script src="{% static 'js/patient_register.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if patient_form.non_field_errors %}
<ul>
    {% for error in patient_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if patientregistration_form.non_field_errors %}
<ul>
    {% for error in patientregistration_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if patientakimeasurement_form.non_field_errors %}
<ul>
    {% for error in patientakimeasurement_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <h1>Register patient</h1>
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="" id="mrr_form" action="" method="post"
                data-units-url="{% url 'renaldataregistry:load-units' %}">
                {% csrf_token %}
                <div class="tab">
                    <div class="mb-3">
                        <h2>Primary details:</h2>
                    </div>
                    <div class="mb-3">
                        {{patient_form.id_type | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.pid | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientregistration_form.health_institution | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientregistration_form.unit | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.name | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.surname | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.dob | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.gender | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.postcode | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.street | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.landline_number1 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.landline_number2 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.mobile_number1 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.mobile_number2 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.email | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.email2 | as_crispy_field}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Other details:</h2>
                    </div>
                    <div class="mb-3">
                        {{patient_form.height | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.weight | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.birth_weight | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.ethnic | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.maritalstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.occupationalstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.current_occupation | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.prev_occupation1 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.prev_occupation2 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.prev_occupation3 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.prev_occupation4 | as_crispy_field}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Primary renal diagnosis and KRT modality:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientrenaldiagnosis_form.description | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientrenaldiagnosis_form.renaldiagnosis | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.in_krt_modality | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.creatinine | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.egfr | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.hb | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.measurement_date | as_crispy_field}}
                    </div>
                    <p>Give chronology of previous KRT modalities</p>
                    {{ patientkrtmodality_forms.management_form }}
                    {% for form in patientkrtmodality_forms %}
                    {{ form.id.as_hidden }}
                    {% if forloop.first %}
                    <div class="p-3 mb-2 bg-info text-dark">
                        <legend>First KRT modality</legend>
                        <div class="row g-2">
                            <div class="col-sm">
                                {{ form.modality | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{ form.start_date | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    {% elif forloop.last %}
                    <div class="p-3 mb-2 bg-info text-dark" id="current_krt_modality">
                        <legend>Present KRT modality</legend>
                        <div class="row g-2">
                            <div class="col-sm">
                                {{ form.modality | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{ form.start_date | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{ form.hd_unit | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="row g-2">
                        <div class="col-sm">
                            {{ form.modality | as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{ form.start_date | as_crispy_field}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Initial assessment:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.comorbidity | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.disability | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.smokingstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.alcoholuse | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_b | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_c | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hiv | as_crispy_field}}
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="prevBtn btn btn-primary btn-block btn-sm">Previous</button>
                    <button type="button" class="nextBtn btn btn-primary btn-block btn-sm">Next</button>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}