{% extends 'base.html' %}

{% block extrahead %}
{{ patient_form.media }}
{% load static %}
<script src="{% static 'js/form_tabs.js' %}"></script>
<script src="{% static 'js/patient_register.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if patient_form.non_field_errors %}
<ul>
    {% for error in patient_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if patientaddress_form.non_field_errors %}
<ul>
    {% for error in patientaddress_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for form in patientmeasurement_forms %}
{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}

{% if patientakimeasurement_form.non_field_errors %}
<ul>
    {% for error in patientakimeasurement_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Register patient</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="" id="mrr_form" action="" method="post">
                {% csrf_token %}
                <div class="tab">
                    <div class="mb-3">
                        <h2>Primary details:</h2>
                    </div>
                    <div class="mb-3">
                        {{patient_form.id_type | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.pid | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientregistration_form.health_institution | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientregistration_form.unit | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.name | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.surname | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.dob | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.gender | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientaddress_form.postcode | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientaddress_form.street | as_crispy_field}}
                    </div>
                    {{ patientcontact_forms.management_form }}
                    {% for form in patientcontact_forms %}
                    <div class="mb-3">
                        {{ form.contactvalue | as_crispy_field}}
                    </div>
                    {% endfor %}
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Other details:</h2>
                    </div>
                    {{ patientmeasurement_forms.management_form }}
                    {% for form in patientmeasurement_forms %}
                    <div class="mb-3">
                        {{ form.measurementvalue | as_crispy_field}}
                        {{ form.measurementtype.as_hidden }}
                        {{ form.id.as_hidden }}
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                        {{patient_form.ethnic | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.maritalstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patient_form.occupationalstatus | as_crispy_field}}
                    </div>
                    {{ patientoccupation_forms.management_form }}
                    {% for form in patientoccupation_forms %}
                    <div class="mb-3">
                        {{ form.occupation | as_crispy_field}}
                    </div>
                    {% endfor %}
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Primary renal diagnosis and KRT modality:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientrenaldiagnosis_form.renaldiagnosis | as_crispy_field}}
                    </div>
                    <p>Is patient on Kidney Replacement Therapy (KRT)?</p>
                    <select name="krt_status" id="id_krt_status">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </Select>
                    <div class="mb-3">
                        {{patientakimeasurement_form.creatinine | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.egfr | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.measurement_date | as_crispy_field}}
                    </div>
                    <p>Give chronology of previous KRT modalities</p>
                    {{ patientkrtmodality_forms.management_form }}
                    {% for form in patientkrtmodality_forms %}
                    {% if forloop.first %}
                    <div class="p-3 mb-2 bg-info text-dark">
                        <legend>First KRT modality</legend>
                        <div class="row g-2">
                            <div class="col-sm">
                                {{form.modality | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{form.start_date | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    {% elif forloop.last %}
                    <div class="p-3 mb-2 bg-info text-dark" id="current_krt_modality">
                        <legend>Present KRT modality</legend>
                        <div class="row g-2">
                            <div class="col-sm">
                                {{form.modality | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{form.start_date | as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{form.hd_unit | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="row g-2">
                        <div class="col-sm">
                            {{form.modality | as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.start_date | as_crispy_field}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Initial assessment:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.comorbidity | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.disability | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.smokingstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.alcoholuse | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_b | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_c | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hiv | as_crispy_field}}
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="prevBtn btn btn-primary btn-block btn-sm">Previous</button>
                    <button type="button" class="nextBtn btn btn-primary btn-block btn-sm">Next</button>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}