{% extends 'base.html' %}

{% block extrahead %}
{{ patient_form.media }}
{% load static %}
<script src="{% static 'js/form_tabs.js' %}"></script>
<script src="{% static 'js/patient_assess.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if patient_form.non_field_errors %}
<ul>
    {% for error in patient_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <h1>Assess patient</h1>
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="" id="mrr_form" action="" method="post">
                {% csrf_token %}
                <div class="tab">
                    <div class="mb-3">
                        Health institution: {{ patient.patientregistration.health_institution }}
                    </div>
                    <div class="mb-3">
                        Unit: {{ patient.patientregistration.unit }}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>KRT modality:</h2>
                    </div>
                    <div class="p-3 mb-2 bg-info text-dark">
                        <legend>Current modality</legend>
                        <div class="row g-2">
                            <div class="col-sm">
                                {{patientkrtmodality_form.modality | as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.posthd_weight | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_unit | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_initialaccess | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_sessions | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_minssessions | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_adequacy_urr | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_adequacy_kt | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_ntcreason | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_exchangesday | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_fluidlitresday | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_adequacy | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_bp | as_crispy_field}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Laboratory parameters:</h2>
                    </div>
                    <p>Most recent laboratory parameters (within 3 months, if * within 6 months)</p>
                    <div class="mb-3">
                        {{patientassessmentlp_form}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Medications:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form}}
                    </div>
                </div>
                <div class="tab">
                    <h2>Others:</h2>
                    <div class="mb-3">
                        {{patientassessment_form.comorbidity | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.disability | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.smokingstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.alcoholuse | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_b | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_c | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hiv | as_crispy_field}}
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" class="prevBtn btn btn-primary btn-block btn-sm">Previous</button>
                    <button type="button" class="nextBtn btn btn-primary btn-block btn-sm">Next</button>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}