{% extends "base.html" %}
{% load patient_view_extras %}
{% block content %}
<div class="container">
    <div class="m-5">
        <h1>Patient assessment details</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr class="table-dark">
                            <th colspan="4" class="text-center">NATIONAL RENAL REGISTRY: PATIENT ASSESSMENT DETAIL VIEW
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center">
                                <span class="fw-bold">Current dialysis KRT modality information</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Current patient's modality </span>{{ patient_current_krtmodality.get_modality_display }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                <span class="fw-bold">HD information</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">HD Unit </span>{{ patient_current_krtmodality.hd_unit|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Post HD or dry PD weight in kg </span>{{ patientassesment.patientdialysisassessment.posthd_weight|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">HD prescription:</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Sessions/week </span>{{ patientassesment.patientdialysisassessment.hd_sessions|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Mins/session </span>{{ patientassesment.patientdialysisassessment.hd_minssessions|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">HD adequacy:</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">URR % </span>{{ patientassesment.patientdialysisassessment.hd_adequacy_urr|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Kt/v </span>{{ patientassesment.patientdialysisassessment.hd_adequacy_kt|default_if_none:"--" }}</td>
                        </tr>
                        {% if current_krt_is_first_dialysis %}
                        <tr>
                            <td colspan="4"><span class="fw-bold">Access used for last dialysis </span>{{ patient_current_krtmodality.hd_initialaccess|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">TC or NTC reason </span>{{ patient_current_krtmodality.hd_tc_ntc_reason|default_if_none:"--" }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4" class="text-center">
                                <span class="fw-bold">PD information</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">PD prescription:</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Exchanges/day </span>{{ patientassesment.patientdialysisassessment.pd_exchangesday|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Fluid litres/day </span>{{ patientassesment.patientdialysisassessment.pd_fluidlitresday|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">PD adequacy:</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Kt/V urea </span>{{ patientassesment.patientdialysisassessment.pd_adequacy|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">BP in mmHg </span>{{ patientassesment.patientdialysisassessment.pd_bp|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">Most recent laboratory parameters (within 3 months, if * within 6 months)</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">Hb g/dl </span>{{ patientassesment.patientlpassessment.hb_gdl|default_if_none:"--" }}</td>
                            <td colspan="2"><span class="fw-bold">Albumin g/l </span>{{ patientassesment.patientlpassessment.albumin|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Bicarbonate mmol/l </span>{{ patientassesment.patientlpassessment.bicarbonate|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">Calcium mmol/l </span>{{ patientassesment.patientlpassessment.calcium|default_if_none:"--" }}</td>
                            <td colspan="2"><span class="fw-bold">Phosphate mmol/l </span>{{ patientassesment.patientlpassessment.phosphate|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">HbA1C %* </span>{{ patientassesment.patientlpassessment.hba1c|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">Ferritin ng/ml* </span>{{ patientassesment.patientlpassessment.ferritin|default_if_none:"--" }}</td>
                            <td colspan="2"><span class="fw-bold">TSAT %* </span>{{ patientassesment.patientlpassessment.tsat|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">PTH pmol/l* </span>{{ patientassesment.patientlpassessment.pth|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span class="fw-bold">Medications</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">ESA dose </span></td>
                            <td><span class="fw-bold">Anti-diabetics Y/N/U</span></td>
                            <td colspan="2"><span class="fw-bold">BP Drugs Y/N/U</span></td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">iu/wk (short acting) </span>{{ patientassesment.patientmedicationassessment.iu_wk|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Insulin </span>{{ patientassesment.patientmedicationassessment.insulin|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">ACEi </span>{{ patientassesment.patientmedicationassessment.acei|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Thiazides </span>{{ patientassesment.patientmedicationassessment.thiazides|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">mcg/2 wk (darbo.) </span>{{ patientassesment.patientmedicationassessment.mcg2|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Sulphonylureas </span>{{ patientassesment.patientmedicationassessment.sulphonylureas|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">ARB </span>{{ patientassesment.patientmedicationassessment.arb|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Renin Inhibitors </span>{{ patientassesment.patientmedicationassessment.renin_inhibitors|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">mcg/4 wk (mircera) </span>{{ patientassesment.patientmedicationassessment.mcg4|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">DPP4i </span>{{ patientassesment.patientmedicationassessment.dpp4i|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">CC Blocker </span>{{ patientassesment.patientmedicationassessment.cc_blocker|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Others </span>{{ patientassesment.patientmedicationassessment.bpdrugs_others|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="fw-bold">GLP1A </span>{{ patientassesment.patientmedicationassessment.glp1a|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Beta Blocker </span>{{ patientassesment.patientmedicationassessment.beta_blocker|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">IV iron dose</span></td>
                            <td><span class="fw-bold">Meglitinides </span>{{ patientassesment.patientmedicationassessment.meglitinides|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Alpha Blocker </span>{{ patientassesment.patientmedicationassessment.alpha_blocker|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="fw-bold">mg/month </span>{{ patientassesment.patientmedicationassessment.mg|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">SGLT2i </span>{{ patientassesment.patientmedicationassessment.sglt2i|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Centrally acting </span>{{ patientassesment.patientmedicationassessment.centrally_acting|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="fw-bold">Acarbose </span>{{ patientassesment.patientmedicationassessment.acarbose|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">P Vasodilators </span>{{ patientassesment.patientmedicationassessment.p_vasodilators|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="fw-bold">Metformin </span>{{ patientassesment.patientmedicationassessment.metformin|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">Loop diuretics </span>{{ patientassesment.patientmedicationassessment.loop_diuretics|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="fw-bold">Other </span>{{ patientassesment.patientmedicationassessment.antidiabetic_other|default_if_none:"--" }}</td>
                            <td><span class="fw-bold">MRA </span>{{ patientassesment.patientmedicationassessment.mra|default_if_none:"--" }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Comorbidities </span>
                                {% for comorbidity in patientassesment.comorbidity.all  %}
                                <p>{{ comorbidity }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Disabilities </span>
                                {% for disability in patientassesment.disability.all  %}
                                <p>{{ disability }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Clinical frailty scale (1 to 9) </span>
                                {{ patientassesment.clinical_frailty }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Smoking status </span>
                                {{ patientassesment.get_smokingstatus_display }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Alcohol disorder </span>
                                {{ patientassesment.get_alcoholuse_display }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Hepatitis B </span>
                                {{ patientassesment.get_hepatitis_b_display }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">Hepatitis C </span>
                                {{ patientassesment.get_hepatitis_c_display }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="fw-bold">HIV </span>
                                {{ patientassesment.get_hiv_display }}
                            </td>
                        </tr>
                        <!-- <tr>
                            <td colspan="4"><span class="fw-bold">Creation date </span>
                                {{ patientassesment.created_at }}
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}