{% extends 'base.html' %}

{% block extrahead %}
{{ patientakimeasurement_form.media }}
{% load static %}
<script src="{% static 'js/form_tabs.js' %}"></script>
<script src="{% static 'js/patient_modality.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if patientakimeasurement_form.non_field_errors %}
<ul>
    {% for error in patientakimeasurement_form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <div class="m-5">
        <h1>{{ view_title }}</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="" id="mrr_form" action="" method="post">
                {% csrf_token %}
                <div class="tab">
                    <div class="mb-3">
                        <h2>New modality for patient:</h2>
                    </div>
                    <div class="p-3 mb-2 bg-warning text-dark">
                        <p>The modality edited in this form will become the patient's current KRT modality with start date as today.</p>
                    </div>
                    <div class="col-sm">
                        {{patientkrtmodality_form.modality | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_unit | as_crispy_field}}
                    </div>
                    {% if krt_is_first %}
                    <div class="mb-3">
                        <p class="fw-bold">Information to complete since this is the first KRT modality:</p>
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.before_KRT | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.ropdorprivnephr_days | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.creatinine | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.egfr | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.hb | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientakimeasurement_form.measurement_date | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hepB_vac | as_crispy_field}}
                    </div>
                    {% endif %}
                </div>
                <div class="tab">
                    <div class="p-3 mb-2 bg-warning text-dark">
                        <p>Dialysis information.</p>
                    </div>
                    {% if krt_is_first %}
                    <div class="mb-3">
                        {{patientkrtmodality_form.delay_start | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.delay_beforedialysis | as_crispy_field}}
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="id_hd_initialaccess">Access on first HD</label>
                        {{patientkrtmodality_form.hd_initialaccess | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_unusedavfavgreason | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_privatestart | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_catheterdays | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.pd_insertiontechnique | as_crispy_field}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Assessment:</h2>
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.comorbidity | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.disability | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.clinical_frailty | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.smokingstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.alcoholuse | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_b | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_c | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hiv | as_crispy_field}}
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="prevBtn btn btn-primary btn-block btn-sm">Previous</button>
                    <button type="button" class="nextBtn btn btn-primary btn-block btn-sm">Next</button>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}