{% extends "base.html" %}

{% load patient_list_extras %}

{% block content %}
<!-- Admin Users -->
<div class="container">
    <div class="m-5">
        <h1>Patient registration history</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            {% if patientregistration.history.all %}
            <div class="table-responsive">
                <table class='table table-hover'>
                    <tr>
                        <th scope='col'>Updated at</th>
                        <th scope='col'>Health institution</th>
                    </tr>
                    {% for pr in patientregistration.history.all %}
                    <tr>
                        <td>{{pr.history_date}}</td>
                        <td>{{pr.health_institution}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p>There is no history.</p>
            {% endif %}
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% parameter_replace page=1 %}">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                            href="?{% parameter_replace page=page_obj.previous_page_number %}">previous</a>
                    </li>
                    {% endif %}
                    {% for page_number in page_obj.number|page_window:page_obj.paginator.num_pages %}
                    <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?{% parameter_replace page=page_number %}">
                            {{ page_number }}
                            {% if page_number == page_obj.number %}
                            of {{ page_obj.paginator.num_pages }}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% parameter_replace page=page_obj.next_page_number %}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?{% parameter_replace page=page_obj.paginator.num_pages %}">last
                            &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}