{% extends "base.html" %}
{% load patient_view_extras %}
{% block content %}
<div class="container">
    <div class="m-5">
        <h1>Patient modality details</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="p-3 mb-2 bg-warning text-dark">
                <p>Please note the information presented here is the data entered in the Patient's KRT modality form.</p>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr class="table-dark">
                            <th colspan="4" class="text-center">NATIONAL RENAL REGISTRY: PATIENT MODALITY DETAIL VIEW
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}