{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<script src="{% static 'js/form_tabs.js' %}"></script>
<script src="{% static 'js/patient_assess.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="m-5">
        <h1>{{ view_title }}</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="" id="mrr_form" action="" method="post">
                {% csrf_token %}
                <div class="tab">
                    <div class="p-3 mb-2 bg-info text-dark">
                            Current patient's KRT modality: <span class="fw-bold">{{ patient_current_krtmodality.get_modality_display }}</span>
                            <input type="hidden" name="modality" value="{{patient_current_krtmodality.modality}}" />
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.posthd_weight | as_crispy_field}}
                    </div>
                    {% if patient_current_krtmodality.modality == 2 %}
                    <!-- modality 2 = HD -->
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_unit | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <span class="fw-bold">HD prescription:</span>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.hd_sessions | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.hd_minssessions | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <span class="fw-bold">HD adequacy:</span>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.hd_adequacy_urr | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.hd_adequacy_kt | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <label for="id_hd_initialaccess">Access used for last dialysis</label>
                        {{patientkrtmodality_form.hd_initialaccess | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientkrtmodality_form.hd_tc_ntc_reason | as_crispy_field}}
                    </div>
                    {% endif %}
                    {% if patient_current_krtmodality.modality == 3 %}
                    <!-- modality 3 = PD -->
                    <div class="mb-3">
                        {{patientassessmentdia_form.pd_exchangesday | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.pd_fluidlitresday | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.pd_adequacy | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentdia_form.pd_bp | as_crispy_field}}
                    </div>
                    {% endif %}
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Laboratory parameters:</h2>
                    </div>
                    <p>Most recent laboratory parameters (within 3 months, if * within 6 months)</p>
                    <div class="mb-3">
                        {{patientassessmentlp_form}}
                    </div>
                </div>
                <div class="tab">
                    <div class="mb-3">
                        <h2>Medications:</h2>
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold">ESA dose</p>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.iu_wk | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.mcg2 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.mcg4 | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold">IV iron dose</p>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.mg | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold">Anti-diabetics</p>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.insulin | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.sulphonylureas | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.dpp4i | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.glp1a | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.meglitinides | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.sglt2i | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.acarbose | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.metformin | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.antidiabetic_other | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold">BP Drugs</p>
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.acei | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.arb | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.cc_blocker | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.beta_blocker | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.alpha_blocker | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.centrally_acting | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.p_vasodilators | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.loop_diuretics | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.mra | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.thiazides | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.renin_inhibitors | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessmentmed_form.bpdrugs_others | as_crispy_field}}
                    </div>
                </div>
                <div class="tab">
                    <h2>Others:</h2>
                    <div class="mb-3">
                        {{patientassessment_form.comorbidity | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.disability | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.clinical_frailty | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.smokingstatus | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.alcoholuse | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_b | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hepatitis_c | as_crispy_field}}
                    </div>
                    <div class="mb-3">
                        {{patientassessment_form.hiv | as_crispy_field}}
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" class="prevBtn btn btn-primary btn-block btn-sm">Previous</button>
                    <button type="button" class="nextBtn btn btn-primary btn-block btn-sm">Next</button>
                </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}